.cabecalho{
  
 background-color: #3f6447;
 color: white;
 display: flex;
 justify-content: space-around;
}

.cabecalho-imagem{
    width: 100%;
   
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;

}